#sample_entry{
	display:none;
	}
.collapsable input.row{
	width:100%;
	}
.collapsable textarea{
	width:100%;
	}
.collapsable{
	display:none;
	}
span.titlebar{
	cursor:hand;
	}
div.collapsable{
	border:1px solid black;
	background-color:E2C1B4;
	padding:4px;
	margin-left:120px;
}
table#filemanagement{
	border:1px solid black;
}
table#filemanagement th{
	width:200px;
	text-align:left;
}

table#filemanagement td{
	width:240px;
	text-align:left;
}

input.ints{
width:3em;
}
input.intm{
width:5em;
}
input.intl{
width:8em;
}
input.strid{
width:20em;
}
input.strl{
width:20em;
}
input.strm{
width:12em;
}
input.strs{
width:6em;
}
textarea.strl{
width:26em;
height:5em;
}

#box_news .entry .filt:nth-child(4){
background-color:#ccc;
}
#box_news .entry .filt:nth-child(5){
background-color:#cfc;
}
#box_news .entry .filt:nth-child(6){
background-color:#cfc;
}
#box_news .entry .filt:nth-child(12){
background-color:#ccf;
}
#box_news .entry .filt:nth-child(13){
background-color:#fcc;
}
#box_news .entry .filt:nth-child(14){
background-color:#cfc;
}

body{
font-size:1em;
}

div#footer{
border-top:1px solid grey;
margin-top:2em;
}

#box_news th{
corsor:pointer;
border:1px solid grey;
background-color:#ffc;
font-size:0.8em;
height:2em;
}

#threadeditor, #newsidchanger, #newsthreadidchanger{
	display:none;
}